version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: mongo-db
    restart: always
    ports:
      - 27017:27017
    volumes:
      - dados-mongo:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-gui
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - mongo

  api:
    build: .
    container_name: api-node-ts
    restart: always
    ports:
      - 3000:3000
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - ./uploads:/app/uploads

  frontend:
    build: ./frontend
    container_name: site-react-nginx
    restart: always
    ports:
      - 5173:80

volumes:
  dados-mongo: